.loading{
	position: relative;
	&:after{
	    content: ' '!important;
	    display: block!important;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    line-height: 0;
	    z-index: auto;
	    position: absolute;
	    background: url(./img/loading.gif) center center no-repeat rgba(250,250,250,.8);
	    background-size: 32px auto;
	}
}