@import 'variables';
@import 'base';
@import 'utils/utils';

.header-section{
	width: 70%;
	margin: 0 auto 20px;
}

.page-title{
    text-align: center;
    margin: 10px auto 20px;
    color: white;
    font-size: 50px;
}
.actions{
    width: 40%;
    text-align: center;
    border: 3px solid #fff;
	padding: 10px;
    border-radius: 10px;
	h4{
		margin-top: 0;
	    font-size: 20px;
    	text-align: center;
	}
}
.random-search{
	float: right;
	button{
	    width: 110px;
    	border-radius: 4px;
	}
}
.keyword-search{
	float: left;
	input {
		margin: 0;
	    text-align: left;
	    line-height: 1.21428571em;
	    padding: 11px 7px;
	    background: #fff;
	    border: 1px solid rgba(34,36,38,.15);
	    color: #333;
	    width: 78%;
	    float: left;
	    border-top-left-radius: 4px;
	    border-bottom-left-radius: 4px;
	    font-size: 15px;
		font-family: $base-font;
	}
	button{
		width: 20%;
    	border-top-right-radius: 4px;
    	border-bottom-right-radius: 4px;
	    float: left;
    	width: 20%;
	}
	
}
.note{
	text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
.list-section{
	position: relative;
	clear: both;
	img,video{
		width: 100%;
		vertical-align: middle;
		max-height: 270px;
	}
	.viewport {
		clear: both;
	    width: 97%;
	    margin: 0 auto;
	    overflow: hidden;
	}
	.list{
		display: block;
		overflow: hidden;
		padding: 0;
		margin: 0;
	    transition: 300ms all;
	}
	.image{
	    display: table-cell;
	    vertical-align: middle;
	    position: relative;
	    cursor: pointer;
	    &:after{
	    	content: 'GIF';
		    border: 2px dashed white;
		    padding: 12px 14px 9px;
		    position: absolute;
		    left: 50%;
		    background: rgba(255, 255, 255, 0.38);
		    font-size: 27px;
		    top: 50%;
		    margin-left: -30px;
		    margin-top: -30px;
		    border-radius: 50%;
	    }
	    &.playing:after{
	    	display: none;
	    }
	}
	.arrows{
	    position: absolute;
	    margin-top: -25px;
	    font-size: 20px;
	    width: 32px;
	    height: 37px;
	    top: 50%;
	    background: url(./img/arrow.png) no-repeat;
	    cursor: pointer;
	    opacity: 0;
	    transition:300ms all;
	    z-index: 10;
		&.prev{
			left: -4px;
			transform:scale(-1);
			-webkit-transform:scale(-1);
			-ms-transform:scale(-1);
		}
		&.next{right: 4px;}

	}
	.image-item{
		list-style: none;
		background: white;
		width: 250px;
		float: left;
		display: table;
		border: 2px solid #dce0f7;
		padding: 20px 10px;
		height: 270px;
		border-radius: .28571429rem;
		box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
		margin: 5px 7px;
	}
	&:hover{
		.arrows{opacity: 1}
		.prev{left: 30px;}
		.next{right: 24px;}
	}
	&.grid{
		.arrows{display: none;}
		.image-item{height: 320px;width: 19%;}
	}
}
.switch-view{
	float: right;
	margin-right: 20px;
}
.powered-by-giphy{
	position: fixed;
	bottom: 0;
	right: 0;
}